body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
  }
  
  .container {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    width: 400px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  label {
    font-weight: bold;
  }
  
  textarea, input[type="text"], input[type="file"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  textarea {
    resize: vertical;
  }
  
  .submit-container {
    display: flex;
    justify-content: center;
  }
  
  input[type="submit"] {
    background: linear-gradient(to right, #4CAF50, #64B5F6);
    color: #fff;
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    transition: background 0.3s ease;
    width: 100%;
  }
  
  input[type="submit"]:hover {
    background: linear-gradient(to right, #45a049, #1E88E5);
  }

  
.heading-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  
  .page-heading {
    font-size: 32px;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    border-bottom: 3px solid #4CAF50;
    padding-bottom: 10px;
  }
  
.return-button {
    display: inline-block;
    padding: 10px 20px;
    background: linear-gradient(to right, #4CAF50, #64B5F6);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background 0.3s ease;
    margin-top: 20px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 150px; /* Adjust the width as needed */
}
  
.return-button:hover {
    background: linear-gradient(to right, #45a049, #1E88E5);
}

.return-link {
    margin-left: 10px;
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .return-link:hover {
    color: #0056b3;
  }

  .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px; /* Adjust to your desired height */
    margin-bottom: 20px;
  }
  
  /* Style the search box */
  .search-box {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    background: none;
    height: 25px;
  }
  
  .search-box input[type="text"] {
    border: none;
    outline: none;
    font-size: 20px;
    padding: 5px;
    background: none;

  }